* {
  font-family: Raleway;
}

body {
  font-family: Raleway;
  min-height:100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
.living_room_image p {
  color: white;
  font-size: 4rem;
  text-align: center;
  padding-top: 7rem;
}

.indiv_color_box{
  text-align: center;
  padding-top: 6rem;
}

header{
  width:fit-content
}
.living_room_image {
  height: 25rem; 
}

.arrow {
  position:relative;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.next {
  position:absolute;
  left: 265px;
  top: -42px;
  width: 30px;
  margin-right: 30px;
  border-radius: 80px;
  width:25px;
  height:auto;
  text-align:center;
  display:flex;
  justify-content: flex-end
}
.arrow svg:hover {
  color: rgb(199, 199, 199);
}
.prev {
  position:absolute;
  left: 232px;
  top: -42px;
  width: 15px;
  border-radius: 100px;
  text-align:center;
  display:inline-block;
  width:25px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.paintchipname {
  color: black;
  position: absolute;
  bottom: 0;
}

.paintchipname2 {
  color: black;
  bottom: 0;
}

.colortitle {
  color: black;
}

.indiv_color {
  background: rgba(255,255,255,0.5);
  padding: 10px;
  text-align:justify; 
}

.best_paint {
  background: rgba(255,255,255,0.5);
  padding: 10px;
  text-align:justify; 
}
.best_paint_box {
  text-align: center;
  padding-top: 8rem;
}

.go {
  position: absolute;
  z-index: 10;
}
.after {
  right: 0%;
  top: 30%;
}

.last{
  left: 0%;
  top: 30%;
}

.get_started h3 {
  text-align: center;
}